
.container1{
   background-color: rgba(248, 255, 255, 0.765);
    
    
}

.mainbox{
    width: 100%;
    float:left;
  
}



#text1{

margin-left: 370px;
font-size: 35px;

}


#text2{
    font-size: 30px;
    margin-left: 500px;
}



#text3{
    font-size: 22px;
    text-align: center;
    padding: 80px;
    text-transform: capitalize;
    word-spacing: 6px;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: 'Festive', cursive;
}
.butt {
    transition-duration: 0.4s;
    border-radius: 12px;
  
    width: 250px;
    height: 60px;
  }
  
  .butt {
    background-color: #c37c20;
    color: black;
  }